* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.countdown {
    display: flex;
    align-items: right;
}
.time {
    
    text-align: center;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: blue;

}

#myBox {
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

#myButton{
    font-size: 3rem;
}

#fridge {
    background-image: image("imgs/fridge.jpeg");
}