html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: white;

    overflow: hidden;
}

#scene {
    width: 1901px;
    height: 851px;
    background-image: url('../imgs/kitchen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black; 
    position: relative;
    border: 2px solid #000;
    margin: 0 auto;
}

.interactable {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center center !important;
    margin: 0 auto;
    cursor: pointer;
}

.portal {
    display: block;
    position: absolute;

    width: 100px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.right {
    background-image: url('../imgs/seta-dir.png');
}

.left {
    background-image: url('../imgs/seta-esq.png');
}